# 2. 내장 함수 (Built-in Functions)

**내장 함수**는 별도의 모듈을 임포트하지 않고도 사용할 수 있는 파이썬의 기본 제공 함수입니다.

(구글에서 python built-in functions 검색)

- [Python Built-in Functions Documentation](https://docs.python.org/3/library/functions.html)

![img](https://file.notion.so/f/f/55199e9f-cf92-44a7-8d9d-f768017a960b/ec81318f-9352-45a2-a42e-c54171a10979/Untitled.png?table=block&id=76c105bd-fa4b-4f37-ae1a-a5e6c3550472&spaceId=55199e9f-cf92-44a7-8d9d-f768017a960b&expirationTimestamp=1735473600000&signature=IbTxabTeiIlPHPPqp8H8eQGeF-71JOlkHllONLiHorc&downloadName=Untitled.png)

### 1. `print()`

출력 함수로 데이터를 콘솔에 출력합니다.

In [ ]:
print("Hello, Python!")  # Hello, Python!

### 2. `len()`

데이터의 길이를 반환합니다.

In [ ]:
text = "Python"
print(len(text))  # 6

### 3. `type()`

데이터의 자료형을 반환합니다.

In [ ]:
print(type(123))       # <class 'int'>
print(type("Python"))  # <class 'str'>

### 4. `max()`와 `min()`

데이터에서 최대값과 최소값을 반환합니다.

In [ ]:
numbers = [10, 20, 30]
print(max(numbers))  # 30
print(min(numbers))  # 10

### 5. `sorted()`

데이터를 정렬된 리스트로 반환합니다.

In [ ]:
numbers = [3, 1, 2]
print(sorted(numbers))  # [1, 2, 3]

### 6. `sum()`

데이터의 합계를 반환합니다.

In [ ]:
numbers = [1, 2, 3]
print(sum(numbers))  # 6

### 7. `zip()`

여러 시퀀스를 병렬로 묶습니다.

In [ ]:
names = ["Alice", "Bob"]
ages = [25, 30]
print(list(zip(names, ages)))  # [('Alice', 25), ('Bob', 30)]