# 5. 튜플형 (Tuple)

**불변(Immutable)** 데이터 타입으로, **여러 값을 순서대로 저장**할 수 있는 자료 구조

리스트형[ ]과 거의 비슷하고, () 괄호로 생성.

리스트와 비슷하지만 생성 후 수정, 추가, 삭제가 불가능합니다.

```python
t = ()
t = ("a", "b", "c", "d", "e")
t = ("Hello", "Python")
t = (1, 2, 3, ("a", "b"))
```

## (1) 튜플의 주요 특징

1. **순서 유지 (Ordered)**:
    - 튜플은 저장된 순서를 유지하며, 인덱스를 통해 각 요소에 접근할 수 있습니다.
2. **불변 (Immutable)**:
    - 튜플의 요소는 한 번 생성되면 변경할 수 없습니다.
3. **중복 허용**:
    - 동일한 값을 여러 번 포함할 수 있습니다.
4. **다양한 자료형 저장 가능**:
    - 숫자, 문자열, 리스트 등 다양한 자료형을 저장할 수 있습니다.

## (2) 튜플 생성 및 기본 사용법

### **튜플 생성**

In [ ]:
# 빈 튜플 생성
empty_tuple = ()

# 값이 있는 튜플 생성
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)
mixed = (1, "hello", 3.14, [2, 4, 6], {"key":"value"})

print(fruits)   # ('apple', 'banana', 'cherry')
print(numbers)  # (1, 2, 3, 4, 5)
print(mixed)    # (1, 'hello', 3.14, [2, 4, 6])

### **튜플 인덱싱과 슬라이싱**

In [ ]:
fruits = ("apple", "banana", "cherry", "date")

# 인덱싱
print(fruits[0])   # apple
print(fruits[-1])  # date

# 슬라이싱
print(fruits[1:3])  # ('banana', 'cherry')
print(fruits[:2])   # ('apple', 'banana')
print(fruits[::-1]) # ('date', 'cherry', 'banana', 'apple')

### **튜플은 불변**

튜플은 불변이므로 수정, 추가, 삭제가 불가능합니다.

In [ ]:
fruits = ("apple", "banana", "cherry")
# fruits[0] = "orange"  # TypeError: 'tuple' object does not support item assignment

### **튜플 요소 반복**

튜플의 요소를 순회하면서 작업할 수 있습니다.

In [ ]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print(fruit)

## (3) 튜플의 주요 메서드

### **1. `count()`**

- 특정 값이 튜플에 몇 번 등장하는지 반환합니다.

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.count(2))  # 3

### **2. `index()`**

- 특정 값의 첫 번째 위치(인덱스)를 반환합니다.

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
print(numbers.index(2))  # 1

### **3. 튜플 언패킹 (unpacking)**

튜플의 요소를 여러 변수에 할당할 수 있습니다.

In [ ]:
person = ("Alice", 25, "New York")
name, age, city = person # ("Alice", 25, "New York")

print(name)  # Alice
print(age)   # 25
print(city)  # New York

### **4. 튜플 결합과 반복**

튜플은 결합하거나 반복할 수 있습니다.

In [ ]:
# 튜플 결합
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print(combined)  # (1, 2, 3, 4, 5, 6)

# 튜플 반복
repeated = tuple1 * 3
print(repeated)  # (1, 2, 3, 1, 2, 3, 1, 2, 3)

## [실습]

### **문제 1: 튜플 생성 및 접근**

다음 튜플에서 `"cherry"`와 `"banana"`를 출력하세요.

## [실습]

### **문제 1: 튜플 생성 및 접근**

다음 튜플에서 `"cherry"`와 `"banana"`를 출력하세요.

### **문제 2: 튜플 슬라이싱**

튜플 `numbers = (1, 2, 3, 4, 5)`에서 다음을 수행하세요:

1. 첫 번째부터 세 번째 요소까지 출력하세요.
2. 튜플을 역순으로 출력하세요.

### **문제 3: 튜플 언패킹**

- 튜플 `person = ("Alice", 25, "New York")`에서 이름, 나이, 도시를 각각 변수에 저장하고 출력하세요.

### **문제 4: 튜플 요소 개수**

- 튜플 `numbers = (1, 2, 3, 4, 5)`의 요소 개수를 출력하세요.

### **문제 5: 값의 위치 찾기**

- 튜플 `numbers = (1, 2, 3, 4, 2, 5)`에서 값 `2`가 처음 등장하는 위치를 출력하세요.

### **문제 6: 값의 개수 세기**

- 튜플 `numbers = (1, 2, 3, 2, 4, 2, 5)`에서 값 `2`가 몇 번 등장하는지 출력하세요.

### **문제 7: 튜플 결합**

- 두 튜플 `tuple1 = (1, 2, 3)`과 `tuple2 = (4, 5, 6)`을 결합하여 출력하세요.

### **문제 8: 튜플 반복**

- 튜플 `numbers = (1, 2, 3)`을 3번 반복하여 출력하세요.

### **문제 9: 튜플 변환**

- 리스트 `[1, 2, 3, 4]`를 튜플로 변환하고, 튜플의 첫 번째 요소를 출력하세요.

### **문제 10: 복잡한 튜플에서 값 추출**

- 튜플 `data = (("Alice", 25), ("Bob", 30), ("Charlie", 35))`에서 `"Bob"`의 나이를 출력하세요.